<style>
  @import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
</style>

<ion-header>
  <ion-toolbar>
    <ion-title style="font-family: 'Mitr', sans-serif;font-size: 1em;text-align:center">
      <button [routerLink]="['/peptidos']" ion-button icon-only
        style="border-radius: 50px;font-size: 27px; position: absolute; left: 10px;">
        <ion-icon name="chevron-back-sharp" size="small"></ion-icon>
      </button>
      Péptidos
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div style="align-items:center; text-align: center; justify-content: center;display: flex; margin-top: 1em;">
    <img src="../../../../assets/img/f2.png" height="150em">
  </div>

  <p class="titulo" style="font-family: 'Mitr', sans-serif;font-size: 1em;">R3 largo IGF-1</p>
  <p class="texto">Ensayos clínicos han demostrado, que IGF-1 LR3 se une con alta afinidad al receptor de IGF-1 (IGF1R),
    y debido a su unión significativamente reducida a proteínas de unión a IGF, es aún más estable metabólica y potente
    que el IGF-1 regular en la estimulación de la hipertrofia y la proliferación de células. IGF-1 LR3 puede ser
    tratamiento adecuado en estados catabólicos (utilizando el péptido para inducir el anabolismo en condiciones
    catabólicas como la distrofia muscular). IGF-1 tiene una fuerte capacidad para mantener y construir músculo.</p>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="tab1" [routerLink]="['/tabs/tab1']">
    <ion-icon name="barbell"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tab2" [routerLink]="['/tabs/tab2']">
    <ion-icon name="stats-chart"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tab3" [routerLink]="['/tabs/tab3']">
    <ion-icon style="color: white;" name="book"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tab4" [routerLink]="['/tabs/tab4']">
    <ion-icon name="person"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>