<style>
  @import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
</style>


<ion-content>
  <!-- Logo + nombre  -->
  <div class="logo" style="line-height:1;">
    <div style="align-items:center; text-align: center; justify-content: center;display: flex;">
      <img src="../../../assets/img/sa-logo.png" height="60em">
      <button [routerLink]="['/login']" ion-button icon-only
        style="position: absolute; left: 10px;border-radius: 50px;font-size: 27px;">
        <ion-icon name="chevron-back-sharp" size="small"></ion-icon>
      </button>
    </div>
    <p style="margin: auto; font-family: Coolvetica;font-size: 1em;">SaFIT</p>
  </div>

  <!-- "Recuperar contraseña"  -->
  <p style="font-family: 'Mitr', sans-serif;font-size: 1.5em;text-align:center">Recuperar contraseña</p>

  <hr style="margin-top: 2.5em; margin-bottom: auto;">

  <!-- Formulario de recuperación de contraseña -->
  <form>
    <ion-input type="e-mail" autocapitalize="off" placeholder="Dirección de e-mail" #email required></ion-input>
    <hr style="margin-top: auto; margin-bottom: 2em;">
    <ion-button style="text-transform: none;" class="accesoButton" fill="block" type="submit" (click)="authService.PasswordRecover(email.value)">Enviar correo de recuperación
    </ion-button>
  </form>

</ion-content>