<style>
  @import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
</style>

<ion-header>
  <ion-toolbar>
    <ion-title style="font-family: 'Mitr', sans-serif;font-size: 1em;text-align:center">
      <button [routerLink]="['/abdomen']" ion-button icon-only
        style="border-radius: 50px;font-size: 27px; position: absolute; left: 10px;">
        <ion-icon name="chevron-back-sharp" size="small"></ion-icon>
      </button>
      Ejercicios
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div style="align-items:center; text-align: center; justify-content: center;display: flex; margin-top: 1em;">
    <img src="../../../../../assets/img/abdomen.jpg" height="100em">
  </div>

  <p class="titulo" style="font-family: 'Mitr', sans-serif;font-size: 1em;">Tijeras</p>
  <p class="texto">La forma básica de realizar las tijeras consiste en colocarnos de frente, con la espalda recta, vista
    al frente y brazos estirados. Partiendo de esta posición, adelantamos una pierna hacia delante dejando estirada al
    máximo la pierna que queda detrás, de forma que sólo se deje apoyada la punta del pie.</p>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="tab1" [routerLink]="['/tabs/tab1']">
    <ion-icon name="barbell"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tab2" [routerLink]="['/tabs/tab2']">
    <ion-icon name="stats-chart"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tab3" [routerLink]="['/tabs/tab3']">
    <ion-icon style="color: white;" name="book"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tab4" [routerLink]="['/tabs/tab4']">
    <ion-icon name="person"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>