<style>
  @import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
</style>

<ion-header>
  <ion-toolbar>
    <ion-title style="font-family: 'Mitr', sans-serif;font-size: 1em;text-align:center">
      <button [routerLink]="['/farmacos']" ion-button icon-only
        style="border-radius: 50px;font-size: 27px; position: absolute; left: 10px;">
        <ion-icon name="chevron-back-sharp" size="small"></ion-icon>
      </button>
      H. somatotropina
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div style="align-items:center; text-align: center; justify-content: center;display: flex; margin-top: 1em;">
    <img src="../../../assets/img/f1.png" height="150em">
  </div>

  <p class="titulo" style="font-family: 'Mitr', sans-serif;font-size: 1em;">Polvo liofilizado</p>
  <p class="texto">La HGH es una de muchas hormonas producidas por la glándula pituitaria (o hipófisis), situada
    inmediatamente debajo del cerebro. Las hormonas son mensajeros químicos que envían señales a las células del cuerpo.
    Algunos mensajes les indican a las células cómo utilizar los alimentos o producir más células. La hormona del
    crecimiento les envía a las células de los músculos, huesos y órganos corporales la señal para que crezcan.</p>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="tab1" [routerLink]="['/tabs/tab1']">
    <ion-icon name="barbell"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tab2" [routerLink]="['/tabs/tab2']">
    <ion-icon name="stats-chart"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tab3" [routerLink]="['/tabs/tab3']">
    <ion-icon style="color: white;" name="book"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tab4" [routerLink]="['/tabs/tab4']">
    <ion-icon name="person"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>