<style>
  @import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
</style>

<ion-header>
  <ion-toolbar>
    <ion-title style="font-family: 'Mitr', sans-serif;font-size: 1em;text-align:center">
      <button [routerLink]="['/enciclopedia']" ion-button icon-only
        style="border-radius: 50px;font-size: 27px; position: absolute; left: 10px;">
        <ion-icon name="chevron-back-sharp" size="small"></ion-icon>
      </button>
      Enciclopedia
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="elemento"
    style="text-transform: none; background-image: url('../../../assets/img/celulitis.jpeg'); background-size: 300px;">
  </div>

  <p class="titulo" style="font-family: 'Mitr', sans-serif;font-size: 1em;">Celulitis</p>
  <p class="texto">La celulitis es una infección cutánea bacteriana común y potencialmente seria. La piel afectada tiene
    un aspecto inflamado y rojo, y suele ser dolorosa y caliente al tacto.

    Por lo general, la celulitis afecta la piel en la parte inferior de las piernas, pero puede presentarse en el
    rostro, los brazos y otras zonas. Esta enfermedad sucede cuando entran bacterias en la piel a través de una fisura o
    rotura.</p>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="tab1" [routerLink]="['/tabs/tab1']">
    <ion-icon name="barbell"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tab2" [routerLink]="['/tabs/tab2']">
    <ion-icon name="stats-chart"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tab3" [routerLink]="['/tabs/tab3']">
    <ion-icon style="color: white;" name="book"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tab4" [routerLink]="['/tabs/tab4']">
    <ion-icon name="person"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>