<style>
  @import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
</style>

<ion-header>
  <ion-toolbar>
    <ion-title style="font-family: 'Mitr', sans-serif;font-size: 1.2em;text-align:center">
      Manual
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button [routerLink]="['/ejercicios']" color="none" class="elemento" style="text-transform: none; background-image: url('../../assets/img/ejercicios.jpg'); background-size: 350px;">
    <div>Ejercicios</div>
  </ion-button>

  <ion-button [routerLink]="['/alimentos']" color="none" class="elemento" style="text-transform: none; background-image: url('../../assets/img/alimentos.jpg'); background-size: 350px;">
    <div>Alimentación</div>
  </ion-button>

  <ion-button [routerLink]="['/suple']" color="none" class="elemento" style="text-transform: none; background-image: url('../../assets/img/suplementacion.jpg'); background-size: 350px;">
    <div>Suplementación</div>
  </ion-button>

  <ion-button [routerLink]="['/farmacos']" color="none" class="elemento" style="text-transform: none; background-image: url('../../assets/img/farmacos.jpg'); background-size: 350px;">
    <div>Farmacología</div>
  </ion-button>

  <ion-button [routerLink]="['/enciclopedia']" color="none" class="elemento" style="text-transform: none; background-image: url('../../assets/img/enciclopedia.jpg'); background-size: 300px;">
    <div>Enciclopedia</div>
  </ion-button>
</ion-content>