<style>
  @import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
</style>

<ion-header>
  <ion-toolbar>
    <ion-title style="font-family: 'Mitr', sans-serif;font-size: 1em;text-align:center">
      <button [routerLink]="['/peptidos']" ion-button icon-only
        style="border-radius: 50px;font-size: 27px; position: absolute; left: 10px;">
        <ion-icon name="chevron-back-sharp" size="small"></ion-icon>
      </button>
      Péptidos
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div style="align-items:center; text-align: center; justify-content: center;display: flex; margin-top: 1em;">
    <img src="../../../../assets/img/f2.png" height="150em">
  </div>

  <p class="titulo" style="font-family: 'Mitr', sans-serif;font-size: 1em;">Fragmento 176-191 de HGH</p>
  <p class="texto">El fragmento de HGH (176-191) es un péptido sintético que representa la porción específica corta de
    la cadena de aminoácidos de HGH (aminoácidos en posiciones 176-191 en el C-terminus de la hormona de crecimiento
    humano). Sólo este fragmento de HGH es responsable de sus fuertes propiedades de quema de grasa, pero no tiene un
    fuerte impacto en los niveles de insulina como HGH hace. El fragmento de HGH conduce a la lipólisis (descomposición de la grasa) e inhibe la lipogénesis, donde, el
    fragmento de HGH puede ser hasta 12.5 veces más potente que HGH para la quema de grasa. Fragmento de HGH 176-191
    imita la forma en que la hormona de crecimiento humano natural regula la descomposición de la grasa, pero sin los
    efectos secundarios no deseados sobre el azúcar en la sangre, nivel de insulina o proliferación celular.</p>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="tab1" [routerLink]="['/tabs/tab1']">
    <ion-icon name="barbell"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tab2" [routerLink]="['/tabs/tab2']">
    <ion-icon name="stats-chart"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tab3" [routerLink]="['/tabs/tab3']">
    <ion-icon style="color: white;" name="book"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tab4" [routerLink]="['/tabs/tab4']">
    <ion-icon name="person"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>