<style>
  @import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
</style>

<ion-header>
  <ion-toolbar>
    <ion-title style="font-family: 'Mitr', sans-serif;font-size: 1em;text-align:center">
      <button [routerLink]="['/orales']" ion-button icon-only
        style="border-radius: 50px;font-size: 27px; position: absolute; left: 10px;">
        <ion-icon name="chevron-back-sharp" size="small"></ion-icon>
      </button>
      Prod. orales
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div style="align-items:center; text-align: center; justify-content: center;display: flex; margin-top: 1em;">
    <img src="../../../../assets/img/f4.png" height="100em">
  </div>

  <p class="titulo" style="font-family: 'Mitr', sans-serif;font-size: 1em;">Estanozolol</p>
  <p class="texto">El estanozolol, comúnmente vendido bajo el nombre de Winstrol (oral) y Winstrol Depot
    (intramuscular), es un esteroide anabólico sintético derivado de la dihidrotestosterona. Fue desarrollado por
    Winthrop Laboratorios en 1962 y ha sido aprobado por la FDA para el uso humano. Es un fármaco que pertenece al grupo
    de los andrógenos atenuados. Se trata de un anabolizante que estimula la
    síntesis proteica y cuyo efecto se manifiesta en un aumento del apetito y el sabor de los alimentos y del índice de
    masa corporal.</p>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="tab1" [routerLink]="['/tabs/tab1']">
    <ion-icon name="barbell"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tab2" [routerLink]="['/tabs/tab2']">
    <ion-icon name="stats-chart"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tab3" [routerLink]="['/tabs/tab3']">
    <ion-icon style="color: white;" name="book"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tab4" [routerLink]="['/tabs/tab4']">
    <ion-icon name="person"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>