@font-face {
    font-family: "Coolvetica";
    src: url("../../../assets/fonts/coolvetica\ rg\ it.otf");
}

.elemento{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.7em; 
    height: 5.6em;
    border-radius: 0.4em;
    box-shadow: 200px 20px 43px -37px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 200px 20px 43px -37px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 200px 20px 43px -37px rgba(0,0,0,0.75) inset;
}

.elemento div{
    font-family: 'Roboto Flex', sans-serif;
    position: absolute;
    left: 0em;
    font-size: 1.2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2.5em;
    width: 11.25em;
    font-weight: bold;
}




